{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<h1>Orders</h1>


<table class="table">
<thead>
  <tr>
    <th class="td">ID</th>
    <th class="td">STATUS</th>
    <th class="td">CREATE DATE</th>
  </tr>
</thead>
<tbody>
    {% for order in object_list %}
        <tr>
            <td class="" style="border:1px solid black;">{{ order.id|safe }}</td>
            <td class="" style="border:1px solid black;">{{ order.status|safe }}</td>
            <td class="" style="border:1px solid black;">{{ order.create_dt|safe }}</td>
        </tr>
    {% empty %}
        <tr>
            <td class="" style="border:1px solid black;"></td>
            <td class="" style="border:1px solid black;"></td>
            <td class="" style="border:1px solid black;"></td>
        </tr>
    {% endfor %}
</tbody>
</table>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>